---
import Socials from "./Socials.astro";

---
<section id="footer" class="p-12 flex flex-col sm:flex-row justify-around items-center sm:items-baseline bg-theme-blue-dark">
<p class="font-mono text-sm text-theme-blue-light">© 2025 Website made by David Morilla Cabello with Astro. If you use it, please credit me.</p>
<Socials isDark />
</section>
