---
import { getCollection } from 'astro:content';
import Publication from '@/components/Publication.astro';

const publications = (await getCollection('publications')).sort((a, b) =>
  b.id.localeCompare(a.id)
);
---

<section id="publications" class="py-8 px-6 max-w-3xl mx-auto scroll-m-54">
  <h2 class="bg-theme-light rounded-sm px-4 py-2 text-3xl font-semibold mb-4">Publications</h2>
  <div class="flex flex-col gap-4">
  {publications.map(pub => (
    <Publication {...pub.data} />
  ))}
  </div>
</section>